<section id="home">
    <div id="landing-nav">
        <div class="landing-nav-item">
            <a href="#">
                <span>Followings</span>
            </a>
        </div>
        <div class="landing-nav-item">
            <a href="#">
                <span>For You</span>
            </a>
        </div>
        <div class="landing-nav-item">
            <a href="#">
                <span>Popular</span>
            </a>
        </div>
    </div>
    <div id="content">
        <div class="post quote-post">
            <div class="post-head">
                <div class="post-owner">
                    <div class="post-owner-img">
                        <img src="~/assets/images/user-profiles/unnamed.jpg" alt="">
                    </div>
                    <div class="post-owner-info">
                        <div class="post-owner-name"><a href="./profile.html">Mehraj Mammadov</a></div>
                        <div class="post-owner-username"><a href="./profile.html">MehrajAli</a></div>
                    </div>
                </div>
                <div class="dots">
                    <i class="bi bi-three-dots"></i>
                    <div class="dots-menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="bi bi-link-45deg"></i>Copy Url
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-envelope-plus"></i>Send as Message
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-flag"></i>Report
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <div class="paragraph">
                    <p>
                        Sevdiğimiz insanlar hakkında bilmek istemediğimiz o kadar çok şey var ki.
                    </p>
                </div>
                <div class="book-info">
                    <div class="book-img">
                        <img src="~/assets/images/books/56586_77433_1601498302.webp" alt="">
                    </div>
                    <div class="name-auth">
                        <div class="book-name">
                            <a href="#">Dövüş Kulübü</a>
                        </div>
                        <div class="book-auth">
                            <a href="#">Chuck Palahniuk</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-foot">
                <div class="post-foot-left">
                    <div class="post-star post-foot-item">
                        <i class="bi bi-star not-starred"></i>
                        <i class="bi bi-star-fill starred"></i>
                        <span class="star-count">10</span>
                    </div>
                    <div class="comment post-foot-item">
                        <i class="bi bi-chat-left"></i>
                        <span>10</span>
                    </div>
                    <div class="share post-foot-item">
                        <i class="bi bi-share"></i>
                        <span>10</span>
                    </div>
                </div>
                <div class="post-foot-right">
                    <div class="statistics post-foot-item">
                        <i class="bi bi-bar-chart-line"></i>
                        <span>10</span>
                    </div>
                    <div class="statistics post-foot-item">
                        <i class="bi bi-bookmark"></i>
                        <span>10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>